* {
    margin: 0px;
    padding:0px;  
}

.gallery_menu li{
    float:left;
    list-style:none;
}

.photobox{
    float:left;
    margin: 5px;
}

.photobox img {
    height:220px;
}

.photopage{
    
}

#datepicker {
    float:left;
    margin:5px;
}

div.ui-datepicker{
    font-size:13px;
}