.dateShown a.ui-state-default {
    font-weight: bold;
}

#TB_window {
    padding-bottom: 20px;
}

.adminpage h3:before{
    content:'';
    display:block;
    clear: both;
}

.adminpage h3 {
    font-size: 1em;
    margin-bottom: 5px;
}

.adminpage .delete_folder_link {
    font-size: 0.9em;
}

#uploadForm label {
    margin:2px;
    font-size:1em;
    font-weight:bold;
}
.uploadInputBox{
    padding:5px;
    border:#F0F0F0 1px solid;
    border-radius:4px;
}
#progress-bar {
    background-color: #12CC1A;
    height:20px;
    color: #FFFFFF;
    width:0%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
}
#progress-div {
    border:#444444 2px solid;
    padding: 5px 0px;
    margin:30px 0px;
    border-radius:4px;
    text-align:center;
    clear:both;
}
#targetLayer{
    width:100%;
    text-align:center;
}
.image_upload_input {
    float: left;
    width: 45%;
    overflow: auto;
}

#targetLayer #adminmenumain > div {
    display: none;
}
#uploadForm label {
    font-size: 1em;
    font-weight: bold;
    margin: 2px;
}
#ui-datepicker-div {
    display:none;
}
datepicker #ui-datepicker-div {
    display:block;
}

.unc_gallery {
    overflow:auto;
    position: relative;
}

.unc_gallery .one_photo {
    float:left;
    position: relative;
    overflow: auto;
    margin-left: 5px;
    margin-bottom: 5px;
}

.unc_gallery .featured_photo img {
    float:left;
    height: 495px;
}

.unc_gallery .delete_folder_link {
    position: absolute;
    text-align:center;
    right: 5px;
    top: 5px;
    width: 80%;
}
.unc_gallery .delete_folder_link input {
    width: 250px;
}

.unc_gallery .delete_image_link {
    background-color:transparent;
    -moz-border-radius:39px;
    -webkit-border-radius:39px;
    border-radius:39px;
    display:inline-block;
    border: 0px;
    cursor:pointer;
    color:#ff0000;
    font-family:Arial;
    font-size:20px;
    padding:3px 5px;
    text-decoration:none;
    position: absolute;
    right: 5px;
    top:0px;
}

.unc_gallery .delete_image_link:hover {
    background-color:transparent;
    color:#00ffff;
}

.unc_gallery .delete_image_link:active {
    position:relative;
    top:1px;
}