html{ height: 100%; }
body{ padding: 0; margin: 0; height: 100%; }
.container{ padding: 0 10px; }
.row{ margin: 0 -5px; }
*[class^="col-xs"]{ padding: 0 5px; }

#page.gallery{ background: #a1006e; min-height: 100%; }
.gallery .header{ padding: 20px; background: #fff; }
.gallery-sub-title{ font-size: 20px; line-height: 1.2; margin: 15px 0 0; color: #A1006E; }
.gallery-title{ font-size: 30px; line-height: 1.2; margin: 0; color: #A1006E; }
.gallery .content{ padding: 20px 10px; }
.gallery-table{ width: 100%; table-layout: fixed; }
.gallery-table td{ padding: 5px; width: 33.33% }
.gallery-table td img{ width: 100%; }

.image-source-link { color: #98C3D1; }
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg { opacity: 0; -webkit-backface-visibility: hidden; -webkit-transition: all 0.3s ease-out;  -moz-transition: all 0.3s ease-out;  
-o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.mfp-with-zoom.mfp-ready .mfp-container { opacity: 1; }
.mfp-with-zoom.mfp-ready.mfp-bg { opacity: 0.8; }
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg { opacity: 0; }

@media screen and (max-width: 380px) {
	.gallery-sub-title{ font-size: 16px;}
	.gallery-title{ font-size: 26px; }
}